{deps, [
{ekaf,".*",{git,"https://github.com/helpshift/ekaf", {branch, "master"}}}
,{brod, ".*", {git, "https://github.com/klarna/brod.git", {branch, "master"}}}
,{jsone, ".*", {git, "https://github.com/sile/jsone.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard]}.
